.formContainer {
  background-color: white;
  border-radius: 8px;
  min-width: 300px;
  width: 60%;
  max-width: 500px;
  margin: 1em 0;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h3 {
    font-size: 20px;
    font-weight: normal;
    color: #2f2f2f;
  }

  h2 {
    font-size: 30px;
    font-weight: bolder;
    color: #17aa9e;
  }

  form {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 25px;

    .inputContainer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #ececec;
      padding: 10px 15px;
      border-radius: 8px;

      .left {
        display: flex;
        flex-direction: column;
        gap: 3px;
        width: 80%;

        label {
          font-size: 11px;
        }

        input {
          border: none;
          font-weight: bold;
          background-color: inherit;
          font-size: 13px;
          color: #2f2f2f;
        }
        select{
          border: none;
          font-weight: bold;
          background-color: inherit;
          font-size: 13px;
          color: #2f2f2f;
        }
      }

      svg {
        width: 25px;
        height: 20px;
      }
    }

    button {
      margin-top: 10px;
      border: none;
      width: 100%;
      padding: 10px 0;
      cursor: pointer;
      font-weight: 700;
      font-size: 16px;
      color: white;
      background-color: #17aa9e;
      border-radius: 8px;
      transition-duration: 0.3s;
    }

    button:hover {
      background-color: #0e3633;
    }

    p {
      text-align: center;
      font-size: 12px;

      b {
        cursor: pointer;
        color: #6358dc;
      }

      b:hover {
        text-decoration: underline;
      }
    }
  }
}

.toast {
  transition-duration: 0.3s;
  background-color: #17aa9e;
  border-radius: 8px;
  width: 30%;
  text-align: center;
  position: fixed;
  bottom: 0;
  margin-bottom: 15px;
  padding: 10px;
}

.welcome {
  padding: 120px 120px;
  background-color: white;
  border-radius: 8px;
  text-align: center;

  h2 {
    font-weight: 20px;
    color: #070707;
    font-size: 25px;
  }

  h3 {
    font-weight: normal;
    color: #2f2f2f;
  }

  .buttons {
    display: flex;
    gap: 25px;
    justify-content: center;
    margin-top: 15px;

    button {
      background-color:#17aa9e;
      border: none;
      cursor: pointer;
      color: white;
      padding: 10px 50px;
      border-radius: 3px;
      transition-duration: 0.3s;
    }

    button:hover {
      background-color: #4235d6;
    }
  }
}

.face{
  background-color: #7fe6dd;
  padding: 35px 75px;
  h2{
   font-size: 5rem;
  }
 

}
.images{
width:510px;
height: 300px;
  }

.tableContainer{
  padding: 35px 75px;
  background-color: white;
  border-radius: 8px;
  text-align: center;
  border:1px solid;
  tr{
    margin:0.25em;
    color:#020008;
    background-color: #ffffff;
    
  }
  th{
    color:#020008;
    background-color: #006cd1;
  }
}

.styledtable {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  thead{
    tr{
      background-color: #009879;
      color: #ffffff;
      text-align: center;
    }
  }
  th,td{
    padding: 12px 15px;
  }
  tbody{
    tr{
      border-bottom: 1px solid #dddddd;
    }
    tr:nth-of-type(even){
      background-color: #f3f3f3;
    }
    tr:last-of-type{
      border-bottom: 2px solid #009879;
    }
    tr.active-row{
      font-weight: bold;
      color: #009879;
    }
    button{
      border: none;
      width: 100%;
      padding: 10px 10px;
      cursor: pointer;
      color: white;
      border-radius: 8px;
      transition-duration: 0.3s;
    }
    button:hover {
      background-color: #0e3633;
    }
    .deletebutton{
     background-color: red;
    }
    .editbutton{
      background-color: #17aa9e;
    }
    .changebutton{
      background-color: #16097d;
    }
  }

}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }
input[type=number] { -moz-appearance:textfield; }